In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df_rounds = pd.read_csv('data/cb_funding_rounds.csv', parse_dates=['funded_at', "created_at", "updated_at"])

In [34]:
 df_objects = pd.read_csv('data/cb_objects.csv')

/Users/cosmakufa/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (3,7,9,10,17,18,21,22,23,25,26,29,30,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
df_ipo = pd.read_csv('data/cb_ipos.csv')
df_acquisitions = pd.read_csv('data/cb_acquisitions.csv')

In [8]:
keep = ['id',
 'funding_round_id',
 'object_id',
 'funded_at',
 'funding_round_type',
 'funding_round_code',
 'raised_amount_usd',
 'raised_amount',
 'raised_currency_code',
 'pre_money_valuation_usd',
 'pre_money_valuation',
 'pre_money_currency_code',
 'post_money_valuation_usd',
 'post_money_valuation',
 'post_money_currency_code',
 'participants'


]

removed =[  'source_url',
 'source_description',
 'created_by',
 'created_at',
 'updated_at',
 'is_first_round',
 'is_last_round']

In [9]:
df_rounds[keep].head().T

,0,1,2,3,4
id,1,2,3,4,5
funding_round_id,1,2,3,4,5
object_id,c:4,c:5,c:5,c:5,c:7299
funded_at,2006-12-01 00:00:00,2004-09-01 00:00:00,2005-05-01 00:00:00,2006-04-01 00:00:00,2006-05-01 00:00:00
funding_round_type,series-b,angel,series-a,series-b,series-b
funding_round_code,b,angel,a,b,b
raised_amount_usd,8.5e+06,500000,1.27e+07,2.75e+07,1.05e+07
raised_amount,8.5e+06,500000,1.27e+07,2.75e+07,1.05e+07
raised_currency_code,USD,USD,USD,USD,USD
pre_money_valuation_usd,NaN,NaN,1.15e+08,5.25e+08,NaN
pre_money_valuation,NaN,NaN,1.15e+08,5.25e+08,NaN
pre_money_currency_code,NaN,USD,USD,USD,NaN
post_money_valuation_usd,NaN,NaN,NaN,NaN,NaN
post_money_valuation,NaN,NaN,NaN,NaN,NaN
post_money_currency_code,NaN,USD,USD,USD,NaN
participants,2,2,3,4,2
is_first_round,0,0,0,0,0
is_last_round,0,1,0,0,0

In [22]:
record = {}
def update_record(x):
    
    cb_id = x["object_id"]
    if cb_id not in record:
        record[cb_id] = x["raised_amount_usd"]
    else:
        record[cb_id] += x["raised_amount_usd"]
    
    x["total_so_far"] = record[cb_id]
    return x

In [23]:
df_samp = df_rounds[keep].sort_values("funded_at", ascending=True)

In [24]:
df_samp.head()

,id,funding_round_id,object_id,funded_at,funding_round_type,funding_round_code,raised_amount_usd,raised_amount,raised_currency_code,pre_money_valuation_usd,pre_money_valuation,pre_money_currency_code,post_money_valuation_usd,post_money_valuation,post_money_currency_code,participants,is_first_round,is_last_round
5114,5664,5664,c:21600,1960-01-01,venture,unattributed,50000000.0,50000000.0,USD,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
1088,1181,1181,c:1611,1960-01-01,series-a,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1
4358,4801,4801,c:17612,1960-01-01,venture,unattributed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1
3867,4267,4267,c:15768,1960-01-01,venture,unattributed,1800000.0,1800000.0,USD,NaN,NaN,USD,NaN,NaN,USD,0,0,1
3328,3671,3671,c:12422,1960-01-01,venture,unattributed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1

In [25]:
df_samp = df_samp.apply(update_record, axis =1 )

In [31]:
df_samp.head().T

,5114,1088,4358,3867,3328
id,5664,1181,4801,4267,3671
funding_round_id,5664,1181,4801,4267,3671
object_id,c:21600,c:1611,c:17612,c:15768,c:12422
funded_at,1960-01-01 00:00:00,1960-01-01 00:00:00,1960-01-01 00:00:00,1960-01-01 00:00:00,1960-01-01 00:00:00
funding_round_type,venture,series-a,venture,venture,venture
funding_round_code,unattributed,a,unattributed,unattributed,unattributed
raised_amount_usd,5e+07,NaN,NaN,1.8e+06,NaN
raised_amount,5e+07,NaN,NaN,1.8e+06,NaN
raised_currency_code,USD,NaN,NaN,USD,NaN
pre_money_valuation_usd,NaN,NaN,NaN,NaN,NaN
pre_money_valuation,NaN,NaN,NaN,NaN,NaN
pre_money_currency_code,NaN,NaN,NaN,USD,NaN
post_money_valuation_usd,NaN,NaN,NaN,NaN,NaN
post_money_valuation,NaN,NaN,NaN,NaN,NaN
post_money_currency_code,NaN,NaN,NaN,USD,NaN
participants,0,0,0,0,0
is_first_round,0,1,1,0,1
is_last_round,1,1,1,1,1
total_so_far,5e+07,NaN,NaN,1.8e+06,NaN

In [43]:
df_joined = df_samp.set_index("object_id").join(df_objects.set_index("id"), rsuffix="_object", how="outer")

In [51]:


df_something = df_ipo[['object_id','ipo_id']].set_index("object_id").join(df_acquisitions[['acquired_object_id',"acquisition_id"]].set_index("acquired_object_id"), rsuffix="_object", how="outer")

In [52]:
df_something.head()

          ipo_id  acquisition_id
c:10         NaN             1.0
c:100        NaN            20.0
c:1001       NaN          1901.0
c:10014      NaN          3878.0
c:100265     NaN          6106.0

In [66]:
target = df_something.apply(lambda x: 1, axis=1)

In [76]:
target.head()

c:10        1
c:100       1
c:1001      1
c:10014     1
c:100265    1
Name: target, dtype: int64

In [67]:
target.value_counts()

1    10716
dtype: int64

In [79]:
tar

1

In [77]:
target.index

Index([    'c:10',    'c:100',   'c:1001',  'c:10014', 'c:100265',   'c:1004',
        'c:10049',  'c:10054', 'c:100589',   'c:1007',
       ...
        'c:99685',    'c:997',    'c:997',  'c:99737',    'c:999',        nan,
              nan,        nan,        nan,        nan],
      dtype='object', length=10716)

In [68]:
target.name = "target"

In [69]:
final_join = df_joined.join(target)

In [71]:
final_join["target"] = final_join["target"].apply(lambda x: 0 if pd.isna(x) else 1)

In [72]:
final_join.head().T

,c:1,c:1,c:1,c:10,c:100
id,888,889,2312,NaN,NaN
funding_round_id,888,889,2312,NaN,NaN
funded_at,2005-10-01 00:00:00,2007-01-01 00:00:00,2008-05-19 00:00:00,NaT,NaT
funding_round_type,series-a,series-b,series-c+,NaN,NaN
funding_round_code,a,b,c,NaN,NaN
raised_amount_usd,5.25e+06,9.5e+06,2.5e+07,NaN,NaN
raised_amount,5.25e+06,9.5e+06,2.5e+07,NaN,NaN
raised_currency_code,USD,USD,USD,NaN,NaN
pre_money_valuation_usd,NaN,NaN,NaN,NaN,NaN
pre_money_valuation,NaN,NaN,NaN,NaN,NaN
pre_money_currency_code,NaN,NaN,NaN,NaN,NaN
post_money_valuation_usd,NaN,NaN,NaN,NaN,NaN
post_money_valuation,NaN,NaN,NaN,NaN,NaN
post_money_currency_code,NaN,NaN,NaN,NaN,NaN
participants,2,3,4,NaN,NaN
is_first_round,0,0,1,NaN,NaN
is_last_round,1,0,0,NaN,NaN
total_so_far,5.25e+06,1.475e+07,3.975e+07,NaN,NaN
entity_type,Company,Company,Company,Company,Company
entity_id,1,1,1,10,100
parent_id,NaN,NaN,NaN,NaN,NaN
name,Wetpaint,Wetpaint,Wetpaint,Flektor,There
normalized_name,wetpaint,wetpaint,wetpaint,flektor,there
permalink,/company/wetpaint,/company/wetpaint,/company/wetpaint,/company/flektor,/company/there
category_code,web,web,web,games_video,games_video
status,operating,operating,operating,acquired,acquired
founded_at,2005-10-17,2005-10-17,2005-10-17,NaN,NaN
closed_at,NaN,NaN,NaN,NaN,NaN
domain,wetpaint-inc.com,wetpaint-inc.com,wetpaint-inc.com,flektor.com,there.com
homepage_url,http://wetpaint-inc.com,http://wetpaint-inc.com,http://wetpaint-inc.com,http://www.flektor.com,http://www.there.com
twitter_username,BachelrWetpaint,BachelrWetpaint,BachelrWetpaint,NaN,NaN
logo_url,http://s3.amazonaws.com/crunchbase_prod_assets...,http://s3.amazonaws.com/crunchbase_prod_assets...,http://s3.amazonaws.com/crunchbase_prod_assets...,http://s3.amazonaws.com/crunchbase_prod_assets...,http://s3.amazonaws.com/crunchbase_prod_assets...
logo_width,401,401,401,186,107
logo_height,54,54,54,85,34
short_description,NaN,NaN,NaN,NaN,NaN
description,Technology Platform Company,Technology Platform Company,Technology Platform Company,NaN,NaN
overview,Wetpaint is a technology platform company that...,Wetpaint is a technology platform company that...,Wetpaint is a technology platform company that...,Flektor is a rich-media mash-up platform that ...,There.com is an online virtual world where any...
tag_list,"wiki, seattle, elowitz, media-industry, media-...","wiki, seattle, elowitz, media-industry, media-...","wiki, seattle, elowitz, media-industry, media-...","flektor, photo, video","virtualworld, there, teens"
country_code,USA,USA,USA,USA,USA
state_code,WA,WA,WA,CA,CA
city,Seattle,Seattle,Seattle,Culver City,San Mateo
region,Seattle,Seattle,Seattle,Los Angeles,SF Bay
first_investment_at,NaN,NaN,NaN,NaN,NaN
last_investment_at,NaN,NaN,NaN,NaN,NaN
investment_rounds,NaN,NaN,NaN,NaN,NaN
invested_companies,NaN,NaN,NaN,NaN,NaN
first_funding_at,2005-10-01,2005-10-01,2005-10-01,NaN,NaN
last_funding_at,2008-05-19,2008-05-19,2008-05-19,NaN,NaN
funding_rounds,3,3,3,NaN,NaN
funding_total_usd,3.975e+07,3.975e+07,3.975e+07,NaN,NaN
first_milestone_at,2010-09-05,2010-09-05,2010-09-05,NaN,2003-02-01
last_milestone_at,2013-09-18,2013-09-18,2013-09-18,NaN,2011-09-23
milestones,5,5,5,NaN,4
relationships,17,17,17,6,12
created_by,initial-importer,initial-importer,initial-importer,initial-importer,initial-importer
created_at,2007-05-25 06:51:27,2007-05-25 06:51:27,2007-05-25 06:51:27,2007-05-31 21:11:51,2007-08-06 23:52:45
updated_at,2013-04-13 03:29:00,2013-04-13 03:29:00,2013-04-13 03:29:00,2008-05-23 23:23:14,2013-11-04 02:09:48
target,0,0,0,1,1

In [73]:
final_join['target'].value_counts(1)

0    0.971471
1    0.028529
Name: target, dtype: float64

In [45]:
len(df_objects)

462651

In [74]:
len(final_join)

484069

In [75]:
len(target)

10716